<form role="form" class="form-horizontal">

  <script cam-script type="text/form-script">
	


	camForm.on('form-loaded', function() {
     
      camForm.variableManager.fetchVariable('expediente');
    });

    camForm.on('variables-fetched', function() {
     
      $scope.expediente = camForm.variableManager.variableValue('expediente');

    });

  </script>
	<h4>Registrar girado para expediente {{expediente.numero}}</h4>
	<br>
	<h3>{{expediente}}</h3>
	

  <div class="control-group">

    <div class="controls">
      <input id="monto" class="form-control" type="hidden" ng-model="expediente.fase" value="G" />
<!--       <input id="estado" class="form-control" type="hidden" ng-model="expediente.estado" value="0" /> -->
    </div>
  </div>

</form>