<form role="form" class="form-horizontal">

  <script cam-script type="text/form-script">

	camForm.on('form-loaded', function() {
     
      camForm.variableManager.fetchVariable('expediente');
    });

    camForm.on('variables-fetched', function() {
      
      $scope.expediente = camForm.variableManager.variableValue('expediente');
    });

	camForm.on('submit', function(evt) {
    // set value in variable manager so that it can be sent to backend
	$scope.expediente.fase = "G";
	//$scope.expediente.estado = 0;
	
	var estado = $scope.expediente.estado;
	var a = parseInt(estado);
	$scope.expediente.estado = a;

    camForm.variableManager.variableValue('expediente', $scope.expediente);
  	});

  </script>
	<h4>Registrar girado para expediente {{expediente.numero}}</h4>
	<br>
	
	{{expediente}}

  <div class="control-group">
    <label class="control-label" for="monto">Revisar Estado</label>
    <div class="controls">
    
		 	<input type="radio" ng-model="expediente.estado"  value=1 checked> Aprobado<br>
  			<input type="radio" ng-model="expediente.estado" value=2> Desaprobado<br>
  			 
    
<!--       <input id="monto" class="form-control" type="hidden" ng-model="expediente.fase" value="G" /> -->
<!--       <input id="monto" class="form-control" type="hidden" ng-model="expediente.estado" value=0 /> -->
    </div>
  </div>

</form>